/* CSS Document */


/************************/
/*configurazione pagine
/************************/



//pagina cart
section#cart{
	margin: 20px auto 0px;


@media screen and (max-width:$break-normal){
		margin: 50px auto 0px;
	}
}
section#cart #cart_summary{
	top:170px;
	@media screen and (max-width:$break-normal){
	top:auto;
	}
}
//pagina checkout
#checkout{
	margin: 20px auto 0;

	@media screen and (max-width:$break-normal){
	margin: 50px auto 0px;
	}

}
//thanks
#thanks{
	margin: 20px auto  !important;

	@media screen and (max-width:$break-normal){
	margin: 50px auto 0px !important;
	}	
}

#nlpopup{
	display:none !important;
	
}


/************************/
/*stili generici
/************************/
body{
	
	margin:0;
	padding: 0;
	
}
section#cart, section#checkout,#modal,section#thanks{
	color:$blu;
	box-sizing: content-box;
	*{
		box-sizing: content-box;
		&:after, &:before{box-sizing: content-box;}
	}

	h1, h2, h3,h4{
		
	font-weight: 400; 
	line-height: 1em;
	padding: 0;
	margin: 0 0 30px;
	color:$blu; 
}
h1{font-size:1.8em; line-height: 2em;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:0.83em;font-weight: 400; 	color:$blu;  margin: 0 0 10px;}


*{
	outline: none !important;
}

a{
	text-decoration:none !important;
	outline: none !important;
	color:$blu;
	&:hover{
		color:$blu;
	}
}
input,  textarea, button{
	
	outline:none !important;
	border:none;
	border-bottom:dotted 1px $blu;
	padding:0.2em 0;
	color:$blu;
	background: transparent;
	font-weight: 300;
	font-size:1.1em;
	
}
input[type="submit"], button{
	color:$blu;
	font-weight: 700;
}
input[type="checkbox"], input[type="radio"]{
	width: auto;
	
}

select{
	width:100%;
	text-align: right;
	font-weight: 300;
	font-size:1em;
			
	
	max-width: 150px;
	padding: 0px 35px 0px 0px;

	border-bottom: 1px dotted $blu;
	height: auto;
	background: url("../img/chevron_dwn.png") no-repeat calc(100% - 5px) center !important;
	background-size: 16px auto !important;

    cursor: pointer;

	
	
	
	
	
	
	
	optgroup{
		border: solid 1px $blu;
		background: $bianco;
	}
	
}

	
	
	
	
	
button{
	border:none;
	background: transparent;
	font-weight: 700;
}

strong{
	color:$blu;
	font-weight: 400;
}


	

}
.cart_summary_body {
    font-size: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    color: $blu;
}

.polo_alert{
	span{
	display: block;	
	width:100%;
	text-align: center;
	padding: 0;
	margin: 15px 0;
	font-size:1.2em;
	color:$blu_chiaro;
	}
}



/************************/
/*carrello
/************************/
section#cart{
	width:calc(100% - 30px);
	max-width: 1280px;
	background: $bianco;
	padding: 0;
	//background: $sfondo;
	position: relative;
	overflow: hidden;
	
	h1{
		border-bottom:solid 1px $blu;
		padding: 0 15px 5px;
		margin-bottom: 30px;
		text-transform:capitalize;
		display: block;
		width:calc(100% - 30px);
		overflow: hidden;
		position: relative;
		ul{
			width:auto;
			position: absolute;
			bottom:10px;
			right: 15px;
			overflow: hidden;
			list-style: none;
			margin:0;
			padding: 0;
			
			
			font-weight: 400;
			font-size:0.35em;
			line-height: 0;
			text-transform:uppercase;
			li{
				display:inline-block;
				margin: 0 0 0 15px;
				a#svuota{
					
					&:hover{
						color:$blu_chiaro !important;
					}
					svg {
						margin: 0 10px 0 0;
					}
				}
				i{
					display: inline-block;
					margin: 0 10px 0 0;
				}
			}
		}
		&.noprod{
			max-width: 1280px;
			margin: 50px auto 30px
		}
	}
	h3.noprod{
		text-align:center;
		border:none;
		background: rgba($bianco, 0.5);
		color:$blu;
		padding: 30px;
		width:calc( 100% - 60px);
		font-weight: 100;
	}
	#option_toggle, #svuota_cart{display: none;
	}
	#cart_list{
		
		width:calc(70% - 30px);
		max-width: 850px;
		margin: 0 0;
		padding: 15px;
		z-index: 1;
		position: relative;
		overflow: visible;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
			.item_cart{
			display: block;
			width: calc(100% - 2px);
			min-height: 0 !important;
			margin: 0 0px 50px 15px;
			padding: 0px;
			position: relative;
			border-bottom:solid 1px $blu;
			background: $grigio_chiaro;	
			
			.elimina{
				display:block;
				position: absolute;
				top:0;
				right:0;
				background: $grigio_chiaro;
				padding: 15px;
				text-transform: uppercase;
				z-index: 1;
				font-size:0.9em;
				i, svg{
					margin-right:10px;
				}
				&:hover{
					color:$blu_chiaro;
				}
			}
			.img{
				width:100%;
				max-height: 170px;
				max-width: 100px;
				display:block;
				position:absolute;
				overflow:hidden; 
				top:10px;
				left: 10px;
				z-index: 10;
				img{
					width:100%;
					height: auto;
				
					}	
				}
			
			.txt{
				
				display: inline-block;
				width:calc(100% - 515px);
				border-top: none;
				position: relative;
				bottom: auto;
				padding: 15px 15px 15px 150px;
				min-height: 100px;
				margin-bottom: 40px;
				float: left;
				
				
				&:before{
					display: none;
				}
				&:after{
					display: none;
				}
				h6{
					font-size: 1.1em;
				}
				p{
					margin: 0 10px 10px 0;
					color: $blu;
					float: left;
					font-size:0.9em;
					
				}
			}
			.qnt{
				width:250px;
				color:$blu;
				text-align: right;
				padding: 9px 15px;
				position:absolute;
				bottom:0px;
				left: auto;
				right: 420px;
				text-align: left;
				overflow: hidden;
				margin:0;
				label{display:block;
					margin:0;
				}
				.no_input{
						display: block;
						padding:3px 0 !important;
					}
				input{
					width: 50px;
					margin: 0 15px;
				}
				button{
					text-transform: uppercase;
					font-weight: 300;
					font-size:0.83em;
				}
			}
			h6.val_coupon{
				position: absolute;
				display: block;
				width:170px;
				bottom:0;
				right: 220px;
				margin: 0;
				padding:13px 15px;
				font-weight: 300;
				border-left:none;
				font-size:0.9em;
				&.nogood{
					color:$blu;
				}
				i{
					float: right;
					font-style: normal;
					color:$blu;
					}
				
				}	
			h3{
				width:190px;
				background:$grigio_chiaro;
				
				color:$blu;
				padding: 15px 15px 5px;
				position:absolute;
				bottom:0px;
				left: auto;
				right:0;
				margin: 0;
				text-align: right;
				font-size: 1.2em;
				span{
					display: inline-block;
					margin: 0 0 10px 10px ;
				}
				del{
					display: inline-block;
					color:$blu;
					margin: 0 10px 10px 0 ;
					font-weight:300;
					font-size: 0.9em;
				}
				
			}
		}
		
		
		
	}
	
	#cart_summary{
		display: block;
		width:30%;
		margin: 0;
		padding: 0;
		position: sticky;
		right:0;
		float:right;
		z-index: 100;
		border:none;
		//position: relative;
		border-left:solid 1px $blu;
		padding: 0 0 0 7.5px;
		margin:15px 0 30px -7.5px;
		background: $bianco;
		
		
		h2{
				display: block;
				width:100%;
				padding: 10px 15px;
				position: relative;
				margin-bottom: 0;
				color:$blu;
				white-space: nowrap;
				font-size: 1.5em;
				background: $bianco;
				&:before{
					display: none;
					
				}
				&:after{
					display: none;
				}
				span{
					margin: 0 0 10px;
					color: $bianco;
					position: absolute;
					z-index: 0;
					top:0;
					right: 0;
					font-size: 2.5em;
					width: 45px;
					height: 50px;
					overflow: hidden;
					background: rgba($blu, 0);
					text-align: right;
					text-indent:10px;
					padding: 10px 0 0 15px;
					opacity: 0.2;
				}
			}
		.wrapper{
			width:100%;
			margin:30px auto;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			text-transform: uppercase;
			.polo_alert{
				width:100%;
				position: relative;
				text-align: center;
				color:$blu_chiaro;
				overflow: hidden;
				padding: 15px;
			}
			.cols{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				width: calc(100%  - 30px);
				margin: 0 15px;
				padding: 0px;
				
			
			#coupon_summary, #giftcard_summary{
				
				width: 100%;
				font-size:1em;
				font-weight: 100;
				border-bottom:solid 1px $blu;
				padding-bottom: 10px;
				position: relative;
				margin: 0 0 15px;
				input{
				border:none;
				border-bottom:dotted 1px $blu;
				background: rgba($bianco, 0 );
				margin-right: 10px;
				
				}
				button{ 
					/*position:absolute;
					top:0;
					right:5px;
					border-bottom:none;
					background: $bianco;
					color:$blu;
					cursor:pointer;
					margin-right: 0;
					font-size:0.83em;
					width:auto !important;
					padding: 5px 10px*/
					display:inline-block;
					padding: 7px;
					position: absolute;
					top:-7px;
					right: 0px;
					font-size: 0.8em;
					color:$blu;
					text-transform: uppercase;
					font-weight:300;
					width:auto;
					
					}
				.elimina{
					display:inline-block;
					padding: 7px;
					position: absolute;
					top:-7px;
					right: 0;
					font-size: 0.8em;
					color:$blu_chiaro;
					text-transform: uppercase;
					font-weight:100;
					width:auto;
				}
				#importo_coupon, #importo_giftcard{
					width: 100%;
					color:$blu;
					font-size:0.9em;
					padding: 20px 0 0 ;
					strong{float: right;}
				}
			}
			#spedizione{
				border-bottom:solid 1px $blu;
				position: relative;
				padding-bottom: 10px;
				margin: 0 0 15px;
				
				h5{
					width: 100%;
					font-weight: 400;
					margin:0;
					padding: 0;
					font-size: 1em;
					
					strong{
						margin: 10px 0 0 ;
						display:block;
						width: 100%;
						position: relative;
						color:$blu_chiaro;
						span{
							display:block;
							position:absolute;
							top:0;
							right: 0;
							
						}
					}
					
				}
				#country_toggle{
					display:block;
					padding: 7px;
					position: absolute;
					top:-7px;
					right: 0;
					font-size: 0.8em;
					color:$blu_chiaro;
					&.active{
						background: $blu;
						color:$bianco;
					}
					
				}
				#country_list{
					display: none;
					width:calc(100% - 2px);
					border:solid 1px $blu;
					max-height:200px ;
					overflow-y: scroll;
					overflow-x: hidden;
					background: $bianco;
					position: absolute;
					top:23px;
					z-index: 10;
					h6{
						background:$sfondo;
						border-bottom:dotted 1px $grigio;
						font-size: 0.9em;
						padding:10px;
						margin: 0;
					}
					a{
						display:block;
						border-bottom:dotted 1px $grigio;
						font-size: 0.9em;
						padding:10px 10px 10px 30px;
						position: relative;
						&:before{
							content:"";
							display: block;
							width:12px;
							height: 12px;
							border:solid 1px $blu;
							background: $bianco; 
							position: absolute;
							top:50%;
							left: 10px;
							transform: translateY(-50%);
						}
						&:after{
							content:"";
							display: block;
							width:8px;
							height: 8px;
							border:solid 0px $blu;
							background: $bianco; 
							position: absolute;
							top:50%;
							left: 13px;
							transform: translateY(-50%);
						}
						&:hover{
							background:$sfondo;
							font-weight:600;
							color:$blu;
						}
						&.ec_active_square{
							background:$sfondo;
							font-weight:600;
							color:$blu;
							&:after{
								background: $grigio;
							}
						}
					}
					
				}
			}
			#subtotale, #totale, #buttons_cart, #costo_spedizione, #continua_shop{
				font-size:1em;
				margin: 0 0 15px;
				border-bottom:solid 1px $blu;
				padding: 0 0 10px;
				
				h5{
					display: block;
					width:100%;
					margin:0;
					overflow: hidden;
					font-weight: 400;
					font-size: 1em;
					span{
						display: inline-block;
						font-weight: 600;
						float: right;
						
						
					}
					
				}
			}
			
			#totale{
				h5{
					font-weight: 600;
					font-size:1.2em;
			
					color:$blu}
				span{	 color:$blu }
				
				}
			#buttons_cart{
						width: 100%;
						margin:10px 0 20px;
						border:none;
						button{
							width: 100%;
							background: $blu;
							color: $bianco;
							font-weight: 600;
							font-size:1.2em;
							line-height: 1em;
							border:none;
							border-right: none;
							text-transform: uppercase;
							padding: 10px 0;
							margin: 0;
							position: relative;
							cursor:pointer;
							
						}
					}
			#paymethod_cart{
				display: block;
				margin:0 ;
				padding: 0;
				list-style: none;
				width: 100%;
				li{
					margin: 0 0 20px;
					font-weight: 500;
					text-transform: none;
					text-decoration: underline;
					img{
						display: block;
						width:100%;
						margin: 5px 0;
					}
					&:first-child{
						text-transform: uppercase;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
				
			
		}
		}
		
	}
	
	
	@media screen and (max-width:$break-large-plus){
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		
			#cart_list{	
				width:calc(100% - 30px);
				max-width: none;
				margin:0 auto;
				padding: 0;
				
				
					.item_cart{
					display: block !important;
					width: calc(100% - 2px);
					min-height: 0 !important;
					margin: 0 0px 15px 0;
					padding: 0px 10px 0 0;
					position: relative;
					border-bottom:solid 1px $blu;
					background: $bianco;
					overflow: hidden;	

					.elimina{
						display:block;
						position: absolute;
						top:5px;
						right:0;
						background: $bianco;
						padding:3px 5px;
						text-transform: uppercase;
						z-index: 1;
						svg, i{
							margin-right:10px;
						}
						&:hover{
							color:$blu_chiaro;
						}
					}
					.img{
						width:100%;
						max-height: 70px;
						max-width: 70px;
						display:block;
						position:absolute;
						overflow:hidden; 
						top:10px;
						left: 10px;
						z-index: 10;
						img{
							width:100%;
							height: auto;

							}	
						}

					.txt{
						display: inline-block;
						width:calc(100% - 90px);
						border-top: none;
						position: relative;
						bottom: auto;
						padding: 40px 5px 15px 90px;
						min-height: 90px;
						margin-bottom: 40px;
						float: left;

						&.polo_cp{
							width:calc(100% - 90px);
						}
						&:before{
							display: none;

						}
						&:after{
						
							display: none;
						}
						h6{
							display: none;
							font-size: 1.2em;
						}
						p{
							margin: 0 10px 10px 0;
							color: $blu;
							float: left;
							&:nth-of-type(3){
								display:none;
							}
						}
					}
					.qnt{display:block;
						width:170px;
						background: rgba($bianco, 0.9);
						color:$blu;
						text-align: right;
						padding:3px 5px;
						position:absolute;
						bottom:37px;
						left: 0;
						right: auto;
						text-align: left;
						overflow: hidden;
						input{color:$blu; font-size:1em;}
						button{
							color:$blu;
							position:relative;
							text-indent:-9000em;
							width:15px;
							height: 15px;
							
							svg,i{
								position: absolute;
								top:5px;
								left: 0;
								text-indent:0em;
							}
						}
						&.polo_cp{
							padding:3px 5px;
							bottom:0px;
						}

					}
					h6.val_coupon{ display: block;
						width:calc(100% - 10px);
						bottom:40px;
						right:0;
						padding:3px 5px;
						font-size: 1em;
						border-bottom: none;
						border-right:none;
						text-align:right;
						i{
							margin-left:10px;
						}
						}	
					h3{
						width:170px;
						background: rgba($bianco, 1);
						color:$blu;
						padding:10px 5px 0;
						position:absolute;
						bottom:0px;
						left: auto;
						right:0;
						margin: 0;
						font-size: 1.1em;
						
						&:after{
							display: none;
						}
						del{
							margin-right: 0;
							
						}
					}
				}
					
			}
			#cart_summary{
				width: 100%;
				border:none;
				margin:0;
				padding: 0;
				position: relative;
				order:3;
				background: rgba($bianco, 1);
				top:30px;
				.cols{
					width: calc((100% / 2) - 32px);
				}
				#paymethod_cart{
					margin: 0 0 50px !important;
				}
			}	
		}
	@media screen and (max-width:$break-normal){
		
		h1{
			font-size:1.9em;
			margin-bottom: 10px;
			padding: 5px 0;
			width: 100%;
			ul{
					width:auto;
					position: absolute;
					bottom:10px;
					right: 0;
					overflow: hidden;
					list-style: none;
					margin:0;
					padding: 0;

					
				font-weight: 400;
			font-size:0.4em;
			line-height: 0;
					text-transform:uppercase;
					li{
						display:inline-block;
						margin: 0 0 0 20px;
						a{
						
							display: block;
							width: 140px;
							height: 25px;
							overflow: hidden;
							text-indent: -0;
							position: relative;
							border: solid 1px $blu;
							padding: 0 5px;
							line-height: 27px;	
							
						}
						a#svuota{

							&:hover{
								color:$blu_chiaro !important;
							}
						}
						
						svg, i{
							display:block;
							margin: 0 !important;
							position: absolute;
							top:50%;
							right: 10px;
							text-indent: 0;
							transform: translateY(-50%);
						}
					}
				}
		}
		#option_toggle, #svuota_cart{
			display: block;
			width: 100%;
			padding: 0px 0 5px;
			border-bottom: solid 1px $blu;
			margin:0 0 15px;	
			text-align: right;
			svg, i{ margin: 0 10px;
			}
			}
		
		#cart_list{width:100% ;}
		#cart_summary{
				float:none;
				width:100%;
				font-size:0.83em;
				padding:0;
				margin: 0;
				border:none;
				
				h2{
					margin:20px 0;
					padding: 0;
				}
				
				.wrapper{
					width: 100%;
					flex-direction: column;
					padding:0px;
					margin:0;
				.cols{
						width: calc((100% / 1) - 2px);
						margin:0;	
						&.col1{
							width: calc((100% / 1) - 2px);
							display:block;	
							border-bottom: none;
							}

						#coupon_summary{
							border-bottom:solid 1px $blu;
							padding-bottom: 10px;
							margin-bottom:10px ;
							input#coupon{
							width:calc(50% - 0.4em);
							}
							input[type='button']{
								float: right;
								padding: 0;
								margin: 10px 0 
							}
							#importo_coupon{
							font-size:1em;
							}
						}
						#spedizione{

							padding:0 0  10px;
							margin-bottom: 10px;
							overflow: visible;
							
							#country_toggle{
								margin-top:0;
								float: none;
								position: absolute;
								top:0;
								right: 0;
							}
							#country_list{
								font-size:1.2em;
								top:25px;
							}
						}
						#subtotale,#totale	{
							width:100%;
							border-bottom:solid 1px $blu;

							margin-bottom: 10px;
						}
						#subtotale{
							padding:10px 0px ;
						
						}
						#totale{
							padding:5px 0;
							font-size:1.6em !important;

						}
						&.col4{
							flex-direction: column;
						}	
						#continua_shop{
							position:relative;
							bottom: auto;
							left: auto;
							text-align: center;
							padding:5px 0 10px;
							width:100%;
							margin-bottom: 0;
							border:none;
							a{
								display: inline-block;
								width:100%;
								padding: 10px 0;
								margin: 0 5px 0 0;
								font-size: 0.9em;
								line-height: 1.8em;
								white-space: nowrap;
								&:hover{
									background: $blu;
									color:$bianco;
								}
							}
						}



						#buttons_cart{
							position:relative;
							text-align: center;
							margin:10px -6px 0 0;
							width: 100%;
							button{
								display: inline-block;
								margin: 0 0 20px ;
								padding: 10px 0px !important;
								font-size: 1.5em !important;
								white-space: nowrap;
								
								&:hover{
									border-color:$verde;
								}
							}
						}
					}
				}	
			}
		}
	
}

/************************/
/*checkout
/************************/
section#checkout{
	width:calc(100% - 30px);
	max-width: 1280px;
	background: $bianco;
	padding: 15px;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
	//background: $sfondo;
	
	input{
		width:100%;
	}
	
	h1{
		border-bottom:solid 1px $blu;
		padding: 0 0 5px;
		margin-bottom: 30px;
		display: block;
		width:100%;
		overflow: hidden;
		position: relative;
		ul{
			width:auto;
			position: absolute;
			bottom:10px;
			right: 0;
			overflow: hidden;
			list-style: none;
			margin:0;
			padding: 0;
			
			
			font-weight: 400;
			font-size:0.35em;
			line-height: 0;
			text-transform:uppercase;
			li{
				display:inline-block;
				margin: 0 0 0 15px;
				a#svuota{
					
					&:hover{
						color:$blu_chiaro !important;
					}
				}
				i,svg{
					display: inline-block;
					margin: 0 10px 0 0;
				}
			}
		}
	}
	form#cart_form{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width:100%;
		color:$blu;
	//	background: $bianco;
		.cols{
			display: flex;
			flex-direction: column;
			justify-content: start;
			//width: calc((100% / 3) - 30px);
			width: calc((100% / 3) - 17.5px);
			margin: 0 ;
			padding: 0px 10px 0 0;
			font-size:0.83em;
			border-right:solid 1px $blu;
			&:last-of-type{
				border-right:none;
			}
			h2{
				display: block;
				width:100%;
				padding: 10px 0px;
				position: relative;
				margin-bottom: 30px;
				color:$bianco;
				white-space: nowrap;
				font-size: 1.8em;
				&:before{
					display: none;
				}
				&:after{
					display: none;
				}
				span{
					display:none;
				}
			}
			h3{
				font-weight: 400;
			font-size:1.100em;
			
				width:calc(100% - 20px);
				margin: 30px 10px ;
				text-transform:uppercase;	
			}
			
			#anagrafica, #pwd{
				
				width:100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				margin:0 ;
				padding: 0;
			}
			#pwd{
				display:none;
			}
			
			label{
				width: calc(50% - 20px);
				padding: 0 10px;
				margin: 0 0 20px;
				&.check{
					width: calc(100% - 45px);
					font-size: 1em;
					text-transform:uppercase;
					position: relative;
					cursor: pointer;
					padding: 0 10px 0 35px;
					
					input{
						  position: absolute;
						  opacity: 0;
						  cursor: pointer;
						  height: 10px;
						  width: 10px;
						  top:15px;
						  left:15px;
						}
					.checkmark {
						  position: absolute;
						  top: -1px;
						  left: 10px;
						  height: 13px;
						  width: 13px;
						  background-color: $bianco;
						  border:solid 1px;	
							&:after {
							  content: "";
							  position: absolute;
							  display: none;
							  left: 1px;
							  top: 1px;
							  width: 11px;
							  height: 11px;
							}
						&.warn{
							border:solid 1px $blu_chiaro;
							}
						}
					&:hover input ~ .checkmark {
						  background-color: $bianco;
						}
					input:checked ~ .checkmark {
						  background-color: $bianco;
							&:after{
								display: block;
							}
						}
					
					}	
				}
			p{
				width:100%;
				margin: 0 10px 10px;
				&.nazione{
					border-bottom:dotted 1px $blu;
					text-transform: uppercase;
					padding: 0 0px 7px;
					margin: 0 0 10px;
				}
			}
			
			select{
				background: transparent;
				text-align: left;
				border-bottom: dotted 1px $blu;
				padding-bottom: 5px;
				
			}
			
			
			
			&.col1{
				background:$bianco;
				h2{ background: $bianco; 
					color:$blu;
					border-bottom:solid 1px $blu;
					
					&:before{
					background: $bianco; 
					} 
					span{
						color:#a3a3a3;
					}
				}
				h3{
					color:$blu;
				}
				.checkmark{
					border-color:$blu;
					&:after{
						background: $blu;
					}
				}
				p{
					&:not(.nazione){
						margin-bottom:30px;
					}	
					
				}
			}
			&.col2{
				background:$bianco;
				h2{ background: $bianco;
					color:$blu;
					border-bottom:solid 1px $blu;
					&:before{
					background: $bianco; 
					}
					span{
						color:$grigio2;
					}
				}
				h3{
					color:$blu;
				}
				.checkmark{
					border-color:$blu;
					&:after{
						background: $blu;
					}
				}
				
				#pay_method{
					width:calc(100% - 0);
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin:0 0 15px;
					padding: 0;
					overflow: visible;
					#pay_item_selected{
						width:100%;
						padding:10px;
						font-size:1.1em;
						border:solid 1px $blu;
						margin: 0 0 20px;
						position:relative;
						text-transform: uppercase;
						strong{
							font-weight: 600;
							position:absolute;
							right:10px;
							color:$verde;

						}

					}

					.payment_item{
						width:calc(( 100% / 3) - 30px);
						overflow: hidden;
						position: relative;
						padding: 10px;
						text-align: center;
						text-transform: uppercase;
						font-size: 0.9em;
						
						cursor: pointer;
						.img{
							display: inline-block;
							background: $bianco;
							width:30px;
							height: 30px;
							padding: 10px;
							border:solid 1px $blu;
							position: relative;
							img{width: 80%;
								height: auto;
								position: absolute;
								top:50%;
								left: 50%;
								transform: translate(-50%,-50%)
							}
							
							
							
						}
						
						input[type="radio"]{
							display: block;
							width:10px;
							height: 10px;
							opacity: 0;
						}
						&.act{
							font-weight: 600;
							color:$verde;
							.img{
									border:solid 2px $verde;
								}	
								
						}
						&.warn{
							font-weight: 600;
							color:$blu_chiaro;
							.img{
									border:solid 1px $blu_chiaro;
								}	
								
						}
	
					}

					/*gestione dei dettagli dei metodi di pagamento*/
					.ptabs{
						display: none;
						width: 100%;
						background:rgba($sfondo, 0.5);
						padding: 10px;
						margin: 0 0 10px;
						p{
							padding: 0;
							margin: 0 0 10px;
						}
						&#mybank_div{
							select{
								width: calc(100% - 40px);
								max-width:none;
							}
						}
						/*gestione del form carta di credito*/
						&#bancasella_div{
							width:100%;
							overflow: hidden;
							position: relative;

							#cards{
								padding:0;
								margin:0;
								list-style: none;
								li{
									margin-bottom: 10px;
								}
								h6{
									font-size:1.100em;
									text-transform: uppercase;
									background: transparent !important;
								}
								label:not(.check){
									padding:0;
									margin: 0 0 10px;
									&:first-child{
										width:calc(100% - 20px);
										span{
											text-align: right;
											display: block;
											width: 100%;
											padding: 5px 0;
										}
									}
									&:nth-child(3){
										width:100%;
										input#card_ccv{
											width:calc(45% - 10px);
										}
									}
								}

								#scadenza{
									width:calc(100% - 20px);
									display: flex;
									flex-flow: row wrap;
									justify-content: space-between;
									padding: 0;
									position: relative;
									margin: 0 10px;
									p{
										flex:0 0 100%;
										width:100%;
										font-size:1.100em;
										
									}
									label{
										width:45%;
										flex:0 0 45%;
										//max-width: 50px;
										input{
											margin: 0;
										}
									}
								}
								a{
									display: inline-flex;
									width: 45%;
									text-align: right;
									text-decoration: underline !important;
									margin: 10px 0 0 15px; 
									font-size:0.786em;
									justify-content: flex-end;
								}
								.warn, .safe{
									font-weight: 600;
									color:$blu_chiaro;
									&.safe{
										color:$verde;
									}	
								}
							}
						}
					}


				}
				
				#ship_method, #note{
					margin:15px 0;
					textarea{
						width:calc(100% - 20px);
						margin-bottom: 20px;
					}
					label{
						display: block;
						
					}
				}
				#note{
					label{
						width: 100%;
					}
				}
			}
			&.col3{
				
				background:$bianco;
				h2{ 
					background: $bianco;
					margin-bottom: 0;
					border-bottom:solid 1px $blu;
					color:$blu;
					&:before{
					background: #6b6b6b; 
					} 
				}
				h3{
					color:$blu;
				}
				.checkmark{
					border-color:$blu;
					&:after{
						background: $blu;
					}
				}
				.wrapper{
					width:100%;
					max-height: 478px;
					overflow-x: hidden;
					overflow-y: auto;
					background: $bianco;
					border-bottom:solid 1px $blu;
					margin-bottom: 10px;
					.item_cart{
						width: calc(100% - 115px);
						border-bottom: solid 1px $blu;
						overflow: hidden;
						margin-bottom: 0px;
						padding:10px 0 10px 115px;
						position: relative;
						&:nth-last-of-type(odd){
							background:$bianco;
							
						}
						&:last-of-type{
							border-bottom:none;
						}
						.img{
							width:100px;
							height: auto;
							overflow: hidden;
							position: absolute;
							top:50%;
							left: 0;
							transform: translateY(-50%);
							img{
								width:100%;
								height: auto;
							}
						}
						.txt{
							padding:5px 0;
							
						}
						h3{ width:calc(100% - 10px); clear: both; text-align: right; margin: 0 10px 0px 0;}
						h6{width:calc(100% - 10px);font-size:1.1em;	margin: 0 10px 10px 0;}
						p{
							display: block;
							width:calc(50% - 10px);
							margin: 0 10px 10px 0;
							float: left;
							overflow: hidden;
							word-wrap: break-word;
							&:nth-child(4){
								width:calc(100% - 10px);
							}
							
						}
					}
				}
				#cart_summary{
					background: transparent !important;
					width:100%;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					margin:0 ;
					padding: 0;
					position:relative;
					z-index: 0;
					div{
						width: calc(100% - 20px);
						padding: 10px;
						margin: 0 ;
						
						
						h5{
							font-size:1.1em;
							font-weight: 300;
							border-bottom:solid 1px $blu;
							width:100%;
							position: relative;
							padding-bottom: 10px;
							margin: 0;
							text-transform: uppercase;
							span{
								display: block;
								font-weight:400;
								position: absolute;
								right: 0;
								top:0;
								
							}
						}
						&#totale{
							margin-bottom: 20px;
							font-size:1.2em;
							h5 span{
								
								font-weight: 400;
								font-size:1.5em;
								line-height: 1em;
								color:$blu;
								
							}
						}
						
					}
					label{
						text-transform: none;
						
					}
					
					a{
						color:$blu;
						&:hover{
							color:$blu;
						}
					}
					
					#buttons_cart{
						width: 100%;
						margin-bottom: 30px;
						button{
							width: 100%;
							background: $blu;
							color:$bianco;
							font-weight: 300;
							font-size:1.6em;
							line-height: 1em;
							border:none;
							text-transform: uppercase;
							padding: 10px 0;
							position: relative;
							margin: 0;
						}
					}
					
					
				}
				
			}
	}
	}
	@media screen and (max-width:$break-large-plus){
		form#cart_form{
			width:100%;
			margin: 0 ;
			.cols{
			width:100%;
			padding:0;
			margin: 0;	
			border:none;	
			}
			
			.payment_item{
				width:calc(( 100% / 4) - 30px) !important;
				justify-content: flex-start !important;
			}
		}	
		
		}
	@media screen and (max-width:$break-normal){
		h1{
			font-size:1.9em;
			margin-bottom: 10px;
			padding-top: 5px;
			ul{
				width:auto;
				position: absolute;
				bottom:10px;
				right: 0;
				overflow: hidden;
				list-style: none;
				margin:0;
				padding: 0;

				
				font-weight: 400;
			font-size:0.4em;
			line-height: 0;
				
				text-transform:uppercase;
				li{
					display:inline-block;
					margin: 0 0 0 15px;
					a{
						display:block;
						width:25px;
						height: 25px;
						overflow: hidden;
						text-indent: -9000em;
						position: relative;
						border:solid 1px $blu;
						

					}
					a#svuota{
							
						&:hover{
							color:$blu_chiaro !important;
						}
					}

					i,svg{
						display:block;
						margin: 0 !important;
						position: absolute;
						top:50%;
						left: 50%;
						text-indent: 0;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		h2{
			font-size:1.4em !important;
		}
		select{
			max-width:110px;
		}
		.col2{
			#pay_method{
				#pay_item_selected{
					 font-size:0.9em !important;
				}
				.payment_item{
					width:calc(( 100% / 3) ) !important;
					justify-content: flex-start !important;
					padding: 10px 0 !important;
				}
				select{
					max-width:calc(100% - 30px);
				}
			}
		}
		
		



		.col3 {
			h2{
				margin-bottom: 30px !important;
				
			}
			.wrapper{ display: none;
				.img{
					top:0 !important;
					transform: translateY(0) !important;
				}
				p{
					width: calc(100% - 10px) !important;
				}
			
			}
			h5{
				
			}
			button{font-size:1.4em !important;}
		} 
	}
	
	
}
#modal{
	display: block;
	width:100%;
	height: 100%;
	background: rgba($bianco, 0.7);
	position: fixed;
	top:0;
	left: 0;
	box-sizing: content-box;
	z-index: 10000;
	#modal_wrapper{
		background: $bianco;
		width: 100%;
		max-width: 500px;
		height: 100%;
		max-height: 350px;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 10px 0 rgba($blu, 0.5);
		box-sizing: content-box;
		z-index: 10001;
		h2{
			display: block;
				width:calc(100% - 20px);
				padding: 10px;
				position: relative;
				margin-bottom: 20px;
				color:$blu;
				white-space: nowrap;
				font-size: 1.5em;
				background: $bianco;
				&:before{
					
					display: none;
					
				}
				&:after{
					display: none;
					
				}
		}
		#close_modal{
			position: absolute;
			top:7px;
			right: 15px;
			font-size:1.5em;
			z-index: 2;
			color:$blu;
			opacity: 1;
			
		}
		#login_alert {
				display: block;
				color: red;
				width: 100%;
				text-align: center;
			span{
				display: block;
				margin: 10px auto;
			}
		}
		form#login{
			width:calc(100% - 0);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin:15px 0 !important;
			padding: 0 !important;
			overflow: visible;
			h3{
				font-weight: 600;
				font-size:1.1em;
			
				width:calc(100% - 20px);
				margin: 10px 10px 20px ;
				text-transform:uppercase;	
				color:$blu;
			}
			label{
				width:calc(50% - 20px);
				margin: 0 10px;
			}
			.ec_button{
				width: calc(100% + 0px);
				background: $bianco;
				
				font-weight: 600;
				font-size:1.2em;
				line-height: 1em;
				border:none;
				text-transform: uppercase;
				text-align: center;
				color: $blu;
				padding: 10px 0;
				margin: 20px 10px 10px;
				position: relative;
				cursor:pointer;
				&:before{
					content: "";
					display: none;
				
				}
				&:after{
					content: "";
					display: none;
					
				}
				&:hover{
					background: $blu;
					color:$bianco;
					&:before{
						background: $blu;
					}
				}
			}
			a{
				margin: 10px 10px 5px ;
				color:$blu;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 0.83em;
				&.ec_button{
					margin: 10px ;
					font-size:1.1em;
				}
			}
		}
		
	}
	@media screen and (max-width:$break-large-plus){
		#modal_wrapper{
			width: 90%;
			overflow: hidden;
			font-size: 0.8em;
			max-height: 300px;
			}
			a{
				margin: 10px auto !important;
				font-size:0.9em;
			}
			.ec_button{
				padding:0 !important;
			}
			a.ec_button{
				font-size:1em !important;
			}
		}
	
	
}

/************************/
/*thank you page
/************************/

section#thanks{
	width:calc(100% - 30px);
	max-width: 1280px;
	background: $bianco;
	padding: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	//background: $sfondo;
	h1{
		border-bottom:solid 1px $blu;
		padding: 0 0 5px;
		margin-bottom: 30px;
		display: block;
		width:100%;
		overflow: hidden;
		position: relative;
		text-align: left;
		
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width:100%;
		color:$blu;
	//	background: $bianco;
		text-align: left;
	}
	
	.cols{
			display: flex;
			flex-direction: column;
			justify-content: start;
			width: calc((100% / 2) - 20px);
			margin: 0 ;
			padding: 0px;
			font-size:0.83em;
			
			h2{
				display: block;
				width:100%;
				padding: 10px 0px;
				position: relative;
				margin-bottom: 30px;
				color:$bianco;
				white-space: nowrap;
				font-size: 1.8em;
				&:before{
					display: none;
				}
				&:after{
					display: none;
				}
				
			}
			h3{
				font-weight: 600;
				font-size:1.100em;
			
				width:calc(100% - 20px);
				margin: 30px 10px ;
				text-transform:uppercase;	
			}
			ul{
				width: 100%;
				width:calc(100% - 50px);
				margin: 0px auto;
				padding: 0;
				list-style: square;
				color:$verde;
				li{
					margin: 0 0 15px; 
					span{
						color:$blu;
					}	
						
				}
			}
			p{
				width:100%;
				margin: 0 10px 10px;
				
			}
			&.col1{
				background:$bianco;
				h2{ background: $bianco;
					border-bottom:solid 1px $blu;
					color:$blu;
					&:before{
					background: $bianco; 
					} 
				}
				h3{
					color:$blu;
				}
				ul{
						color:$blu;
						
				}	
				&.error{
					background:rgba( $blu_chiaro, 0.05);
				h2{ background: $blu_chiaro; 
					&:before{
					background: $blu_chiaro; 
					} 
				}
				h3{
					color:$blu_chiaro;
				}
					ul{
						color:$blu_chiaro;
						
					}	
				}
			}
			&.col2{background:$bianco;
				h2{ background: $bianco; 
					margin-bottom: 0;
					color:$blu;
					border-bottom: solid 1px $blu;
					&:before{
					background: $blu; 
					} 
				}
				h3{
					color:$blu;
				}
				
				
				
				
				
				
			}
		
	}
	.wrapper{
					width:100%;
					
					overflow-x: hidden;
					overflow-y: auto;
					background: $bianco;
					border-bottom:solid 1px $blu;
					margin-bottom: 10px;
					.item_cart{
						width: calc(100% - 115px);
						border-bottom: dotted 1px $blu;
						overflow: hidden;
						margin-bottom: 0px;
						padding:0px 0 0px 115px;
						position: relative;
						&:nth-last-of-type(odd){
							background:rgba($blu, 0.05);
							
						}
						&:last-of-type{
							border-bottom:none;
						}
						.img{
							width:100px;
							height: auto;
							overflow: hidden;
							position: absolute;
							top:50%;
							left: 0;
							transform: translateY(-50%);
							img{
								width:100%;
								height: auto;
							}
						}
						.txt{
							padding:5px 0;
							
						}
						h3{ width:calc(100% - 10px); clear: both; text-align: right; margin: 0 10px 0px 0;}
						h6{width:calc(100% - 10px);font-size:1.1em;	margin: 0 10px 10px 0;}
						p{
							display: block;
							width:calc(50% - 10px);
							margin: 0 10px 10px 0;
							float: left;
							overflow: hidden;
							
							
						}
					}
		&.iframe{
			overflow: hidden;
			min-height:660px;
			margin-top: 10px;
			
		}
				}
	#cart_summary{
					width: 100%;
				  display: flex;
				  flex-direction: row;
				  flex-wrap: wrap;
				  justify-content: space-between;
				  margin: 0;
				  padding: 0;
				  position:relative;
				  top:0;
				  background:transparent;
					div{
						width: calc(100% - 20px);
						padding: 0 10px;
						margin: 0 0 20px;
						
						h5{
							font-size:1em;
							font-weight: 400;
							border-bottom:solid 1px $blu;
							width:100%;
							position: relative;
							padding-bottom: 10px;
							margin: 0;
							text-transform: uppercase;
							span{
								display: block;
								font-weight:600;
								position: absolute;
								right: 0;
								top:0;
								
							}
						}
						&#totale{
							margin: 0 0 20px auto;
							
							h5 span{
								
								font-weight: 600;
								font-size:1.2em;
								line-height: 1em;
								color:$blu;
								
							}
						}
						
					}
					
					a{
						color:$blu;
						&:hover{
							color:$blu;
						}
					}
					
					
					
					
				}
	#back_to_home, .iframe_submit {
			display: inline-block;
			width:auto;
			padding: 10px 20px;
			border:none;
			margin: 30px auto 0;
			background: $bianco;
			text-align: center;
			
			font-weight: 600;
			font-size:1.8em;
			line-height: 1em;
			color:$blu;
			text-transform: uppercase;
		}
	@media screen and (max-width:$break-large-plus){
		.container{
			width:100%;
			margin: 0  auto;
			padding: 0;
			.cols{
				width: 100%;
				padding-bottom: 30px;
				h2{
					font-size:1.4em;
				}
				&.col2 {
					order:0;
					.wrapper{
						.img{
							top:0 !important;
							transform: translateY(0) !important;
						}
						p{
							width: calc(100% - 10px) !important;
						}

					}
					
					#cart_summary{
						div{
							width: calc(100% - 20px);
						}
						#coupon_summary{order:0;}
						#subtotale{order:1;}
						#spedizione{order:2;}
						#dati_pagamento{order:3;}
						#totale{order:4;}
					}
					
					
			
				} 
				&.col1{
					order: 1;
					
					
				}
			}
		}
	}
	@media screen and (max-width:$break-normal){
		h1{
			font-size:1.9em;
			margin-bottom: 10px;
			padding-top: 5px;
		}
	.container{
			.cols{
				h2{
					font-size:1.2em;
				}
				
			}
		}
	}
}
/* AGGIUNTA CAMBIO SPEDIZIONE IN CHECKOUT  22/1/2020 */

section#checkout form#cart_form .cols #nazione {
    width: calc(100% - 20px);
    position: relative;
    overflow: visible;
    border-bottom: dotted 1px #000;
    margin: 0 10px 15px;
    padding: 0 0 10px;
}


section#checkout form#cart_form .cols #nazione p {
    margin: 0;
    padding: 0;
}


section#checkout form#cart_form .cols #nazione #country_toggle {
    display: block;
    padding: 7px;
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 0.8em;
    background: #000;
    color: #ffffff;
    text-transform: uppercase;
}

section#checkout form#cart_form .cols #nazione #country_list {
    display: none;
    width: calc(100% - 2px);
    border: solid 1px #000;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ffffff;
    position: absolute;
    top: 23px;
    z-index: 10;
}

section#checkout form#cart_form .cols #nazione #country_list h6 {
    background: #f0f0f0;
    border-bottom: dotted 1px #b7b7b7;
    font-size: 0.9em;
    padding: 10px;
    margin: 0;
}


section#checkout form#cart_form .cols #nazione #country_list a {
    display: block;
    border-bottom: dotted 1px #b7b7b7;
    font-size: 0.9em;
    padding: 10px 10px 10px 30px;
    position: relative;
}

section#checkout form#cart_form .cols #nazione #country_list a:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: solid 1px #000;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


section#checkout form#cart_form .cols #nazione #country_list a:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: solid 0px #000;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
}

section#checkout form#cart_form .cols #nazione #country_list a.active:after,
section#cart #cart_summary .wrapper .cols #spedizione #country_list a.active:after {
    
    background:black !important;
     
}



/* AGGIUNTA SCELTA SEDE RITIRO IN CHECKOUT  22/1/2020 */


section#checkout form#cart_form .cols.col2 #ship_method #sedi, section#checkout form#cart_form .cols.col2 #note #sedi {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


section#checkout form#cart_form .cols.col2 #ship_method #sedi li, section#checkout form#cart_form .cols.col2 #note #sedi li {
    margin: 0 0 15px;
    padding: 0;
}

section#checkout form#cart_form .cols.col2 #ship_method #sedi li h6, section#checkout form#cart_form .cols.col2 #note #sedi li h6 {
    text-transform: uppercase;
    padding: 0 10px;
}


section#checkout form#cart_form .cols.col2 #ship_method #sedi li label, section#checkout form#cart_form .cols.col2 #note #sedi li label {
    margin: 0;
}

section#checkout form#cart_form .cols.col2 #ship_method #sedi li label strong, section#checkout form#cart_form .cols.col2 #note #sedi li label strong {
    display: block;
}


section#checkout form#cart_form .cols.col2 #ship_method #sedi li label .checkmark, section#checkout form#cart_form .cols.col2 #note #sedi li label .checkmark {
    border-radius: 100% !important;
}

section#checkout form#cart_form .cols.col2 #ship_method #sedi li label .checkmark::after, section#checkout form#cart_form .cols.col2 #note #sedi li label .checkmark::after {
    border-radius: 100%;
}


section#checkout form#cart_form .cols.col2 #ship_method #sedi li a, section#checkout form#cart_form .cols.col2 #note #sedi li a {
    display: block;
    padding: 10px 10px 10px 35px;
    color: #3b3a38;
}

