/*modifico l'altezza di cart list e ne gestisco lo scroll*/
#cart_list{
	max-height: 740px;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	margin-bottom: 50px !important;

	@include scrollbar($blu, transparent, 5px, 0);

}

#cross_sell{
	display: block;
	background: $bianco;
	position: relative;
	padding: 0 0 30px;
	width: 100%;
	.h1{
		text-transform: lowercase!important;
		&:first-letter{
			text-transform: uppercase !important;
		}
	}
	.swiper-container{
		
		.swiper-slide{
			.cnt{
				display: block;
				width: 100%;
				position: relative;
				overflow: hidden;
				padding: 10px;
				span{
					display: block;
					width:100%;
					line-height: 1.4em;
					height: 1.4em;
					overflow: hidden;
					margin-bottom: 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: center;
					font-size:1em;
					&.img{
						height: auto;
						width:100%;
						margin: 0 auto 10px;
						background: $grigio_chiaro;
						padding: 10px;
						img{
							margin: 0;
							width:100%;
							height:auto;
							mix-blend-mode: multiply;
						}
					}
					&.marca{
						font-size: 1em;
						font-weight: 600;
						text-transform: uppercase;
					}
					&.prodotto{
						text-transform: uppercase;
						font-size: 0.8em;
						
					}
					&.prezzo{
						white-space: nowrap;
						letter-spacing: -0.4px;
						text-overflow: clip;
					
						span{
						display:inline-block;
						width: auto;
						margin: 0 3px 0 0;
						}
						i, em{
						font-style: normal;
						vertical-align: top;
						}
						i{
							color:$grigio;
						}
						em{
							font-weight:600;
						}
					}
					&.taglia{
						display:block;
						width: auto;
						height: auto !important;
						text-transform: lowercase;
						&:first-letter{
							text-transform: uppercase;
						}
						select{
							display: block;
							text-align: left;
							width:auto ;
							margin:0 auto;
							font-weight: 600;
						}
					}
				}
				
				button{
					display: block;
					width: auto;
					max-width: 70%;
					text-align: center;
					margin:10px auto;
					padding:10px;
					background:$blu;
					color:$bianco;
					border-radius:10px;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 0.8em;
				}
			}
		}
		.swiper-pagination {
			position: relative;
			text-align: center;
			z-index: 100;
			margin: 20px 0;
			.swiper-pagination-bullet{
				border-radius:100%;
				border:solid 1px $blu;
				background: rgba($bianco, 0);
				width:12px;
				height: 12px;
				opacity:1;
				color:rgba($bianco, 0);
				&:before{
					content: '';
					background:rgba($bianco, 0);
					display: block;
					width:8px;
					height: 8px;
					border-radius:100%;
					margin: 2px;
					
				}
			}
			.swiper-pagination-bullet-active{
				&:before{

					background:$blu_chiaro;
				}
			}
			.swiper-button-black{
				z-index: 100;
				&.swiper-button-disabled{
					display: none;
				}
			}
		}
			
	}
}

#pop_cross_sell{
	display: none;
	background: rgba($blu, 0.3);
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	z-index: 9999;
	
		
		

	
	.cnt{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		overflow: hidden;
		padding: 10px;
		background: $bianco;
		width:100%;
		height: 100%;
		max-width: 650px;
		max-height: 420px;
		position:fixed;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10000;
		h1{
			width: 100%;
			text-transform: lowercase!important;
			font-size: 1.5em;
			font-weight: 500;
			border-bottom:solid 1px $blu;
			margin: 0;
			padding:0 0 10px;
			&:first-letter{
				text-transform: uppercase !important;
			}
		}

		input{
			position:absolute;
			top:0;
			left: 0;
		}
		#close_pop_cross_sell{
			position: absolute;
			top:15px;
			right: 15px;
			font-size: 1.2em;
			z-index: 10;
			line-height: 1em;
		}

		span{
			display: block;
			width:100%;
			line-height: 1.4em;
			height: 1.4em;
			overflow: hidden;
			margin-bottom: 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: center;
			font-size:1em;
			&.img{
				height: auto;
				width:40%;
				margin: 0 0 10px;
				background: $grigio_chiaro;
				padding: 10px;
				img{
					margin: 0;
					width:100%;
					height:auto;
					mix-blend-mode: multiply;
				}
			}
		}
		div.txt{	
			width:55%;
			margin: 20px 0 ;

			span{
				&.marca{
					font-size: 1em;
					font-weight: 600;
					text-transform: uppercase;
				}
				&.prodotto{
					text-transform: uppercase;
					font-size: 0.8em;
					
				}
				&.prezzo{
					white-space: nowrap;
					letter-spacing: -0.4px;
					text-overflow: clip;
					span{
					display:inline-block;
					width: auto;
					margin: 0 3px 0 0;
					}
					i, em{
					font-style: normal;
					vertical-align: top;
					}
					i{
						color:$grigio;
					}
					em{
						font-weight:600;
					}
				}
				&.taglia{
					display:block !important;
					width: auto !important;
					height: auto !important;
					text-transform: lowercase;
					&:first-letter{
						text-transform: uppercase;
					}
					select{
						display: block;
						text-align: left;
						width:auto ;
						margin:0 auto;
						font-weight: 600;
					}
				}
			}
			
			button{
				display: block;
				width: auto;
				max-width: 70%;
				text-align: center;
				margin:10px auto;
				padding:10px;
				background:$blu;
				color:$bianco;
				border-radius:10px;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 0.8em;
			}
		}
		
	}
	
}
@media screen and (max-width:$break-large){
#cart_list{
	max-height: none;
	

}	
#cross_sell{
	order:4;
}
}