/* CSS Document */





footer{
	position: relative;
	margin:0 auto;
	padding: 15px 0 0;
	background: $sfondo;
	overflow: hidden;
	z-index: 0;
	width: 100%;
	font-size:1em;
	.container{
		max-width: $break-xlarge_plus;
		margin:0 auto;
	}
	.row{
		
		ul{
			width:100%;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			list-style: none;
			margin:0 0 10px 0px;
			padding: 0;
			text-transform: capitalize;
			text-align: left;
			li{
				width:calc(100% / 5 );
				margin: 0 0px 5px 0;
			}
			
			
		}
		
		
		.icons{
			width: 100%;
			margin:20px auto;
			padding: 0;
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-content: center;
			align-items: center;
			list-style: none;
			max-width: 400px;
			li{
				max-width: 40px;
				margin:0 5px;
			}
			
			
		}
		
		
		
		
		
	
		
	}
	#sub-footer{
		display: block;
		width: 100%;
		padding:5px 15px;
		background:$blu;
		text-align:center;
		color:$bianco;
		a{
			color:$bianco;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 600;
		 }
	}

	
}



@media screen and (max-width:$break-large){
	
	footer{
		ul{
			width:100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			list-style: none;
			margin:0 0 10px 0px;
			padding: 0;
			text-transform: capitalize;
			text-align: left;
			li{
				width:100%;
				margin: 0 0px 5px 0;
				border-bottom: solid 1px $grigio_chiaro ;
			}
			
			
		}
		
		
		.icons{
			width: 100%;
			margin:20px auto;
			padding: 0;
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-content: center;
			align-items: center;
			list-style: none;
			max-width: 400px;
			li{
				max-width: 40px;
				margin:0 5px;
			}
			
			
		}
	
	}	
}


	

