/* CSS Document 

<div id="shopify-section-header" class="shopify-section">
<header>
	<h1 itemscope="" itemtype="http://schema.org/Organization">
		<a href="/" itemprop="url">
			<img src="//polosoftware.myshopify.com/cdn/shop/t/9/assets/logo.jpg?v=91193734977037167631707303273" alt="Polosoftware" itemprop="logo">
		</a>
	</h1>
	<a href="javascript:;" id="menu-toggle"><i class="las la-bars"></i></a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active ">
			<a href="/" class="nav-link  %}">
        		Home <span class="sr-only">(current)</span>
      		</a>
      	</li>
      	<li class="nav-item  dropdown">
		    <a href="/collections/all" class="nav-link dropdown-toggle %}" id="catalogo-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        Catalogo 
		    </a>
		    <div class="dropdown-menu" aria-labelledby="catalogo-dropdown-toggle" style="display: none;">
		    	<a href="/collections/maglie" class="dropdown-item">Maglie</a>
		    	<a href="/collections/donna" class="dropdown-item">Donna</a>
		    </div>
		</li>
		<li class="nav-item  ">
		    <a href="/pages/designers" class="nav-link  %}">
		        Designers 
		    </a>
		</li>
      	<li class="nav-item  ">
      		<a href="/blogs/notizie" class="nav-link  %}">
       			 Magazine 
      		</a>
      	</li>
    </ul>
    <ul class="navbar-nav">
    	<li class="nav-item">
        	<a class="nav-link" href="/search">Cerca</a>
      	</li>
      	<li class="nav-item">
            <a class="nav-link" href="/account/login">Log in</a>
        </li><li class="nav-item">
        	<a class="nav-link" href="/cart">Carrello (0)</a>
      	</li>
    </ul>
			
</header>



</div>

*/
#shopify-section-header{
	display: block;
	width: 100%;
	background: $bianco;
	position: sticky;
	top:0;
	z-index: 9010;
	margin: 0;
	padding: 0;
	header{
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		max-width: $break-xlarge;
		width:100%;
		padding: 0px 15px !important;
		margin:0 auto;
		position: relative;
		
		a:hover{text-decoration:none !important;}
		/*prehead*/
		#prehead{
	        display: none;
			width:100%;
			background: $bianco;
			color:$blu;
			text-align: center;
			padding:3px 0px ;
			font-size:0.875em;
			font-weight: 300;
			text-transform: uppercase;	
			overflow: hidden;
			letter-spacing: 2px;	
			min-height: 29px;	
			line-height: 29px;	
		}
		
		/*logo*/
		#logo{
			width:100%;
			max-width: 280px;
			padding:0;
			height: 40px;
			overflow: hidden;
			margin:15px 0 ;
			position: relative;
			text-align: center;
			z-index: 11;
			//background: url("../img/logo.png")no-repeat top left / 100% auto;
			a{
				display:block;
				width:100%;
				height:100%;
				min-height: 40px;
				padding:0 ;
				margin: 0;
				overflow: hidden;
				//text-indent:-9000em;
				//background:rgba(#ccc, 0.5);
				img{
					width:100%;
					height: 100% ;
					object-fit: contain !important;

				}
			}
		}

		
		
		#main-menu{
			width:100%;
			position: relative;
			list-style: none;
			margin: 10px 0 0;
			padding: 0;
			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			align-items: center;	
			text-transform: uppercase;
			li{ 
				margin:0 0 0 0;
				padding:0 7.5px;
				position:relative;
				a{
					display: inline-block;
					color:$nero;
					width:auto;
					font-size:1em;
					font-weight: 300;
					//letter-spacing: 0.9px;
					padding: 0 0 10px;
					border-bottom:solid 1px  $blu;
					
				}
				div.dropdown-menu{
					display: none;
					width:138px;
					list-style: none;
					margin:0 -7.5px 1px;
					padding:0 ;
					position:absolute;
					 background:rgba($bianco, 0.9);
					border: 0;
					border-bottom:solid 1px $nero;
					&:before{
						content:'';
						display: block;
						width:100%;
						background:$sfondo;
						height: 25px;
						position:relative;

					}
					
					li{
						background:transparent;
						margin: 0;
						padding:0 0 5px 0;
						border-left:solid 1px $nero;
						border-right:solid 1px $nero;
						&:first-child{
							padding: 5px 0;
						}
						
					}

					a{
						font-size:0.9em;
						border-bottom:none;
						display: inline-block;
						padding:3px 10px;
						margin: 0 10px;
						color:$nero;
					}

				}
				&:hover{
						a{
							border-bottom:solid 1px $blu;
							color:$blu;
						}
						> ul{
							display: block;
							a{border:none; 
								&:hover{
									color:$blu;
								}
							}
						}
					}
				
			}
		}
		#tools{
			
			
			position: absolute;
			top:15px;
			right:15px;
			padding: 0 15px 0 0;
			margin:7px 0 0 ;
			transform: translateY(0);	
			display: flex;
			flex-flow:row nowrap;
			justify-content: flex-end;
			text-transform: lowercase;
			font-weight: 600;	
			list-style: none;
			z-index: 30;
			
			li{
				min-width:21px;
				height: 25px;
				margin:0 0 0 10px;
				overflow: hidden;
				a{
					display: block;
					width:100%;
					height: 100%;
					line-height: 21px;
					text-align: center;
					font-size:0.9em;
					color:$blu;
					position: relative;
					text-transform: uppercase;
					i{
						display:inline-block;
						font-size: 1.2em;

					}
					&:hover, &.active{
						color:$blu_chiaro;
					}
				}
			}
		}

		#menu-toggle{
			display:none;
		}


	}



/*/gestione megamenu/*/

@media screen and (max-width:$break-xlarge_plus){

	header{
		position: fixed;
		background: $bianco;
		margin: 0 !important;
		#tools{
			width:100%;
			position: absolute;
			top: 58px;
			left: 0;
			padding: 0;
			margin: 0;
			z-index: 30;
			overflow: hidden;
		}
		#prehead{
			font-size: 0.7em;
			order:1;
		}
		#logo{
			position:relative;
			top:1px;
			margin:15px auto;
			max-width:120px !important;
			height: 100vh;
			max-height: 44px;
			a{
				position: absolute;
				top:0;
				left: 0;
			}
		}
		#menu-toggle{
			width:21px;
			display:block;
			position: absolute;
			top:0;
			left: 0;
		}
		#main-menu{
			background: rgba($bianco, 0.8);
			
			margin: 0;
			padding: 0;
			display: none !important;
			
			text-transform: uppercase;
			position: fixed;
			left: 0;
			overflow: hidden;
			&.act{
				display: flex !important;
				flex-flow:row wrap;
				justify-content: flex-start;
				align-items: flex-start;	
				align-content: flex-start;
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				top:0;
				left: 0;
				width:calc(100% - 30px);
				background: $bianco;
				z-index: 0;
				height: 100vh;
			}
			li{
				background: $bianco;
				width: calc(100% - 30px);
				margin: 0;
				padding: 15px;
				border-bottom: solid 1px $grigio_chiaro;
				position: relative;
				z-index: 10;
			}

		}
		
	}
	
	
		
		
		
		
	
		
		
	}


}
