/* CSS Document 

</div>

*/
#shopify-section-header{
	display: block;
	width: 100%;
	background: $bianco;
	position: sticky;
	top:0;
	z-index: 9010;
	margin: 0;
	padding: 0;
	header{
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		max-width: $break-xlarge;
		width:100%;
		padding: 0px 15px !important;
		margin:0 auto;
		position: relative;
		
		a:hover{text-decoration:none !important;}
		/*prehead*/
		#prehead{
	        display: none;
			width:100%;
			background: $bianco;
			color:$blu;
			text-align: center;
			padding:3px 0px ;
			font-size:0.875em;
			font-weight: 300;
			text-transform: uppercase;	
			overflow: hidden;
			letter-spacing: 2px;	
			min-height: 29px;	
			line-height: 29px;	
		}
		
		/*logo*/
		#logo{
			width:100%;
			max-width: 280px;
			padding:0;
			height: 40px;
			overflow: hidden;
			margin:15px 0 ;
			position: relative;
			text-align: center;
			z-index: 11;
			//background: url("../img/logo.png")no-repeat top left / 100% auto;
			a{
				display:block;
				width:100%;
				height:100%;
				min-height: 40px;
				padding:0 ;
				margin: 0;
				overflow: hidden;
				//text-indent:-9000em;
				//background:rgba(#ccc, 0.5);
				img{
					width:100%;
					height: 100% ;
					object-fit: contain !important;

				}
			}
		}

		
		
		#main-menu{
			width:100%;
			position: relative;
			list-style: none;
			margin: 10px 0 0;
			padding: 0;
			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			align-items: center;	
			text-transform: uppercase;
			li{ 
				margin:0 0 0 0;
				padding:0 7.5px;
				position:relative;
				a{
					display: inline-block;
					color:$nero;
					width:auto;
					font-size:1em;
					font-weight: 300;
					//letter-spacing: 0.9px;
					padding: 0 0 10px;
					border-bottom:solid 1px  $blu;
					
				}
				.dropdown-toggle{
					&:after{
						display: none;
					}
				}
				div.dropdown-menu{
					display: none;
					width:138px;
					list-style: none;
					margin:0 -7.5px 1px;
					padding:0 ;
					position:absolute;
					 background:rgba($bianco, 0.9);
					border: 0;
					border-bottom:solid 1px $nero;
					a{
						font-size:0.9em;
						border-bottom:none;
						display: block;
						padding:3px 10px;
						margin: 0 10px;
						color:$nero;
					}

				}
				&:hover{
						a{
							border-bottom:solid 1px $blu;
							color:$blu;
						}
						> ul{
							display: block;
							a{border:none; 
								&:hover{
									color:$blu;
								}
							}
						}
					}
				
			}
		}
		#tools{
			
			
			position: absolute;
			top:15px;
			right:15px;
			padding: 0 15px 0 0;
			margin:7px 0 0 ;
			transform: translateY(0);	
			display: flex;
			flex-flow:row nowrap;
			justify-content: flex-end;
			text-transform: lowercase;
			font-weight: 600;	
			list-style: none;
			z-index: 30;
			
			li{
				min-width:21px;
				height: 25px;
				margin:0 0 0 10px;
				overflow: hidden;
				a{
					display: block;
					width:100%;
					height: 100%;
					line-height: 21px;
					text-align: center;
					font-size:0.9em;
					color:$blu;
					position: relative;
					text-transform: uppercase;
					i{
						display:inline-block;
						font-size: 1.2em;

					}
					&:hover, &.active{
						color:$blu_chiaro;
					}
				}
				div.dropdown-menu{
					width:100%;
					list-style: none;
					margin:0 ;
					padding:0 ;
					position:absolute;
					 background:rgba($bianco, 0.9);
					border: 0;
					border-bottom:solid 1px $nero;
					a{
						font-size:0.9em;
						border-bottom:none;
						display: block;
						padding:3px 10px;
						margin: 0 10px;
						color:$nero;
					}

				}
			}
		}

		#menu-toggle{
			display:none;
		}


	}



/*/gestione megamenu/*/

@media screen and (max-width:$break-xlarge_plus){

	header{
		
		background: $bianco;
		margin: 0 !important;
		border-bottom: solid 1px $nero;
		#tools{
			width:100%;
			max-width: 110px;
			position: absolute;
			top: 10px;
			left: auto;
			right:15px;
			padding: 0;
			margin: 0;
			z-index: 30;
			overflow: hidden;
		}
		#prehead{
			font-size: 0.7em;
			order:1;
		}
		#logo{
			position:relative;
			top:1px;
			margin:5px auto;
			max-width:120px !important;
			height: 100vh;
			max-height: 44px;
			a{
				position: absolute;
				top:0;
				left: 0;
			}
		}
		#menu-toggle{
			width:21px;
			display:block;
			position: absolute;
			top:18px;
			left: 15px;
		}
		#main-menu{
			background: rgba($nero, 0.4);
			transition: all 0.5s ease-in;
			margin: 0;
			padding: 0;
			display: none !important;
			
			text-transform: uppercase;
			position: fixed;
			left: 0;
			overflow: hidden;
			&.act{
				display: flex !important;
				flex-flow:row wrap;
				justify-content: flex-start;
				align-items: flex-start;	
				align-content: flex-start;
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				top:1;
				left: 0;
				width:calc(100% - 30px);
				background: $bianco;
				z-index: 0;
				height: 100vh;
			}
			li{
				//background: $bianco;
				width: calc(100% - 30px);
				margin: 0;
				padding: 15px;
				border-bottom: solid 1px $grigio_chiaro;
				position: relative;
				z-index: 10;
				a{
					border-bottom: none;
					padding: 0;
				}
				i{
					width:25px;
					height: 25px;
					line-height: 23px;
					position: absolute;
					top:0;
					right: 0;

				}
				div.dropdown-menu{
					width:100%;
					list-style: none;
					margin:0 ;
					padding:10px ;
					position:relative;
					background:rgba($bianco, 0.9);
					border: 0;
					border-bottom:solid 0px $nero;
					a{
						font-size:0.9em;
						border-bottom:none;
						display: block;
						padding:3px 10px;
						margin: 0 10px;
						color:$nero;
					}

				}



			}

		}


		



		
	}
	
	
		
		
		
		
	
		
		
	}


}
